@mixin reverse($color) {
  &-rev {
    color: $white;
    border-color: $white;
    text-decoration: none !important;

    &:hover {
      color: $color !important;
      border-color: $color !important;
    }
  }
}

@mixin outline($color) {
  &-outline {
    color: $color;
    border-color: $color;

    &:hover {
      background-color: $color;
      color: $white;
      border-color: $white;
    }
  }
}

.btn {
  display: inline-block;
  padding: 14px 20px;
  width: auto;
  border-radius: 5px;
  text-align: center;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: .5px;
  border-width: 1px;
  border-style: solid;
  transition: .7s;

  @include mq(s) {
    font-size: 16px;
  }

  &:hover {
    background: #fff;
    color: $teal;
  }
}

.btn-teal {
  border-color: $teal;
  background-color: $teal;

  @include reverse($teal);
  @include outline($teal);

}

.btn-blue {
  border-color: $navy;
  background-color: $navy;

  @include reverse($navy);
  @include outline($navy);
}

.btn-orange {
  border-color: $orange;
  background-color: transparent;

  &:hover {
    background-color: $orange;
    color: $white;
    border-color: $orange;
  }
}
