%fan {
  position: absolute;
  top: -50%;
  transform: translateY(50%);
  left: 0;
  right: 0;
}

.fan-l img,
.fan-r img {
  transition-property: transform;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.fan {
  position: relative;
  width: 100%;
  margin: 0 auto 2rem;
  text-align: center;

  @include mq(l) {
    height: 100%;
    width: 22%;
    margin-bottom: 4rem;
  }

  & img {
    width: 40%;

    @include mq(l) {
      width: auto;
    }
  }


  &-primary {
    position: relative;
    z-index: 5;
  }

  &-secondary {
    @extend %fan;
    z-index: 4;

    .fan-out &.fan-l img {
      transform: translate3d(-36%, 0, 0) scale(.8);

      @include mq(l) {
        transform: translate3d(-68%, 0, 0) scale(.8);
      }
    }

    .fan-out &.fan-r img {
      transform: translate3d(36%, 0, 0) scale(.8);

      @include mq(l) {
        transform: translate3d(68%, 0, 0) scale(.8);
      }

    }
  }

  &-tertiary {
    @extend %fan;
    z-index: 3;

    &.fan-r img {
      transition-delay: .1s;
    }

    &.fan-l img {
      transition-delay: .2s;
    }

    .fan-out &.fan-l img {
      transform: translate3d(-66%, 0, 0) scale(.6);

      @include mq(l) {
        transform: translate3d(-117%, 0, 0) scale(.6);
      }

    }

    .fan-out &.fan-r img {
      transform: translate3d(66%, 0, 0) scale(.6);

      @include mq(l) {
        transform: translate3d(117%, 0, 0) scale(.6);
      }
    }
  }

  &-quaternary {
    @extend %fan;
    z-index: 1;

    &.fan-r img {
      transition-delay: .3s;
    }
    &.fan-l img {
      transition-delay: .4s;
    }

    .fan-out &.fan-l img {
      transform: translate3d(-95%, 0, 0) scale(.3);
  
      @include mq(l) {
        transform: translate3d(-153%, 0, 0) scale(.3);
      }
    }

    .fan-out &.fan-r img {
      transform: translate3d(95%, 0, 0) scale(.3);

      @include mq(l) {
        transform: translate3d(153%, 0, 0) scale(.3);
      }
    }
  }
}

.fan__content {
  margin: 0 auto;
  width: 100%;
  text-align: center;

  @include mq(l) {
    width: 50%;
  }

  & p,
  & li {
    /*position: absolute;*/
    /*bottom: -30%;*/
    @extend %p-base;
  }

  & h2 {
    @extend %h2-base;

    @include mq(l) {
      text-align: center;
    }

    &:after {
      @extend %h2-after;
    }
  }

  & h5 {
    @extend %h5-base;

    @include mq(l) {
      text-align: center;
    }
  }

  & ul {
    @extend %ul-base;
  }
}
