%feature-base {
  display: flex;  
  position: relative;
  
  @include mq(l) {
    flex-direction: row !important;

    .my-aoa & {
      height: 600px;
      padding: 0 2rem;
    }

    .contact-us & {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
}

.feature {
  @extend %feature-base;
  flex-direction: column;

}

.feature-rev {
  @extend %feature-base;
  flex-direction: column-reverse;
}

.feature-image {
  .my-aoa & {
    @include mq(l) {
      position: absolute;
      top: 0;
    }
  }

  .contact-us & {
    max-width: 650px;
    margin: 0 auto 2rem;

    @include mq(l) {
      top: -60px;
      left: 0;
      width: 650px;
    }
  }

  &-left {
    @include mq(l) {
      left: -28%;
    }

    &--small {
      margin-bottom: 1rem;
      @include mq(l) {
        left: 0%;
        width: 50%;
      }
    }
  }

  &-right {
    margin-bottom: 1rem;
    @include mq(l) {
      right: -39.4%;
    }

    @media screen and (min-width: 1100px) {
      right: -29.4%;
    }
  }
}

.feature-col {
  .my-aoa & {
    @include mq(l) {
      flex-basis: 50%;
    }
  }

  &-right {
    @include mq(l) {
      .contact-us & {
        padding-left: 5.75rem;
      }
      padding-left: 8.75rem;
    }

    .my-aoa & {
      position: relative;

      @include mq(l) {
        position: static;
      }
    }
  }

  &-left {
    .my-aoa & {
      @include mq(l) {
        /*padding-left: 8.75rem;*/
        padding-right: 8.75rem;
      }
    }

    .contact-us & {
      @include mq(l) {
        position: relative;
      }
    }
  }
}

.feature-content {
  align-self: center;
}

.feature-body {
  & h2 {
    @extend %h2-base;
    text-align: center;

    @include mq(l) {
      text-align: left;
    }

    &:after {
      @extend %h2-after;
    }
  }

  & h5 {
    @extend %h5-base; 
    text-align: center;

    @include mq(l) {
      text-align: left;
    }
  }

  p, li {
    @extend %p-base;
  }

  ul {
    @extend %ul-base;
  }
}

.feature-inner-screen {
  position: absolute;
  top: 7%;
  width: 71%;
  left: 50%;
  bottom: 18%;
  transform: translateX(-50%);
  overflow: hidden;


  @include mq(l) {
    left: 14.3%;
    right: 0;
    transform: translateX(0);
  }

  & img {
    width: 727px;
    transition: 11s transform ease-in-out;
  }

  &.demo img {
    transform: translate3d(0, -53%, 0);
  }
}
