%h2-base {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 1rem;
  padding-bottom: 1.25rem;
  text-align: center;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.2;
  color: $navy;

  @include mq(l) {
    font-size: 42px;
    text-align: left;
  }
}

%h2-after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  margin: 0 auto;
  padding-bottom: 1rem;
  border-bottom-color: $orange;
  border-bottom-style: solid;
  border-bottom-size: 2px;


  @include mq(m) {
    border-bottom-size: 3px;
    width: 25%;
  }

  @include mq(l) {
    width: 100%;
  }
}

%h5-base {
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: $seaserpent;

  @include mq(l) {
    text-align: left;
  }
}

%p-base {
  margin-bottom: 1.5rem;
  font-size: 1rem;
  line-height: 1.8;
}

%ul-base {
  list-style: disc outside none;
  margin-left: 0;
  margin-bottom: 2rem;
  padding-left: 1rem;
}

.feature-fixed {
  position: relative;
  padding: 3em 1.5rem 0;
  height: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;

  &.img-students {
    background-color: $warm;

    .feature-fixed__content:after {
      background-image: url('images/bg-phone-students-2.jpg');
      background-repeat: no-repeat;
      background-size: 100% auto;
    }
  }

  &.img-residents {
    background-color: $teal;

    .feature-fixed__content:after {
      background-image: url('images/bg-phone-residents-2.jpg');
      background-repeat: no-repeat;
      background-size: 100% auto;
    }

    a {
      text-decoration: underline;
      color: #fff;
    }
  }

  &.img-doctors {
    background-color: $navy;

    .feature-fixed__content:after {
      background-image: url('images/bg-phone-dos-2.jpg');
      background-repeat: no-repeat;
      background-size: 100% auto;
    }

    a {
      text-decoration: underline;
      color: #fff;
    }
  }

  @include mq(l) {
    min-height: 580px;
    background-position: 7% 100%;

    &.img-students {
      background-image: url('images/bg-laptop-students-warm-2.jpg');
    }

    &.img-residents {
      background-image: url('images/bg-laptop-residents-teal-2.jpg');
    }

    &.img-doctors {
      background-image: url('images/bg-laptop-dos-navy-2.jpg');
    }
  }

  @include mq(m) {
    height: 70%;
  }

  @include mq(l) {
    background-attachment: fixed;
    height: 100%;
  }
}

.feature-fixed__content {

  @include mq(m) {
    position: absolute;
    width: 45%;
    left: 5%;
    top: 8%;
    bottom: auto;
    height: 100%;
  }

  @include mq(l) {
    height: auto;
    width: 25%;
    top: 50%;
    transform: translateY(-50%);
  }

  &:after {
    // phone image on small devices
    content: '';
    display: block;
    width: 100%;
    padding: 61% 0;
    margin: 2rem auto 0;

    @include mq(m) {
      position: absolute;
      top: -5%;
      bottom: 0;
      left: 0;
      right: -210%;
      width: 90%;
      height: 100%;
      /*margin: 0;*/
      /*padding: 0;*/
    }

    @include mq(l) {
      display: none !important;
    }
  }

  &--dark {
    @extend .feature-fixed__content;
    color: $white;

    & h2 {
      color: $white !important;
    }

    & h5 {
      color: $white !important;
      opacity: .5;
    }
  }

  & h2 {
    @extend %h2-base;

    &:after {
      @extend %h2-after;
    }

  }

  & h5 {
    @extend %h5-base; 
  }

  & li,
  & p {
    @extend %p-base;
  }

  & ul {
    @extend %ul-base;
  }

  & li {
    left: 1rem;
  }
}
