.super {
  position: relative;
  height: 100vh;
  min-width: 100vw;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: url(images/closeup-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  background-attachment: initial;
  /*background-color: rgba(0, 0, 102, .92);*/


  @include mq(l) {
    background-attachment: fixed;
    background-position: 0 100%;
    min-height: 580px;
    padding-top: 20px;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    /*background-color: rgba(0, 0, 102, .9);*/
    /*background-color: rgba(255, 255, 255, 0.82);*/
    background-color: rgba(53, 53, 53, 0.21);
    background-color: rgba(0, 0, 0, 0.33);
  }

  &__header {
    width: 100%;
    margin-bottom: 1rem;
    padding-top: 1rem;

    @include mq(l) {
      position: relative;
      height: 40px;
    }

    a {
      position: relative;
      left: 50%;
      height: 39px;
      max-width: 360px;
      display: block;
      /*padding-top: 60px;*/
      transform: translateX(-50%);
      background: url('images/aoa-logo-white.svg') no-repeat 50% 50%;
      background-size: 80%;


      @include mq(m) {
        /*position: absolute;*/
        /*top: 5%;*/
        /*left: 10.4%;*/
        left: 0;
        background-size: 320px;
        transform: translateX(0);
      }

      @include mq(l) {
        position: absolute;
        top: 5%;
        left: 10.4%;
        width: 100%;
        height: 40px;
        background-position: 0;
      }
    }

  }

  &__body {
    align-self: center;
    text-align: center;
    color: $white;

    h1 {
      margin-bottom: 1rem;
      font-size: 30px;
      font-weight: 700;
      line-height: 1.2;
      font-weight: 700;

      @include mq(m) {
        font-size: 3rem;  
        /*font-weight: 200;*/
        /*letter-spacing: -.5px;*/
      }
  
      @include mq(l) {
        font-size: 4rem;  
      }
    }

    h3 {
      margin-bottom: 1.5rem;
      font-size: 1.125rem;
      line-height: 1.4;
      font-weight: 400;
      letter-spacing: .5px;
      width: 100%;
      color: rgba($white, .83);
      overflow: auto;
  
      @include mq(m) {
        margin: 0 auto 3rem;
        width: 67%;
        font-size: 1.875rem;
      }
    }

    p {
      margin-bottom: 1rem;
    }

    a.sly {
      padding-top: 0;
      display: inline-block;
      color: #fff;
      font-size: 14px;
      opacity: .4;
      letter-spacing: .25px;

      @include mq(s) {
        font-size: 16px;
      }
    }
  }
}
