.titlebar {
  display: flex;
  padding: 1.25rem 1.5rem;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: 82px;
  justify-content: center;
  align-items: center;
  background-color: $orange;
  transition: transform .5s ease-in;
  z-index: 10;


  @include mq(m) {
    height: 68px;
  }

  &.stuck {
    transform: translateY(-82px);

    @include mq(m) {
      transform: translateY(-68px);
    }
  }

  h2 {
    font-weight: 400;
    color: $white;
    line-height: 1.2;
    font-size: 18px;

    @include mq(l) {
      font-size: 1.5rem;
    }
  }


}

.titlebar-first {
  @extend .titlebar;
  transition: none;

  &.stuck {
    top: 0; 
    transform: translateY(0);
  }
}
