@import './../../node_modules/reset-css/_reset.scss';
@import url("https://use.typekit.net/vdi5qvx.css");

$navy: #000066;
$teal: #22a49c;
$seaserpent: #11c7eb;
$warm: #f9f7f5;
$orange: #ffaa00;
$white: #ffffff;
$dark: #2a2a2a;

$small: 480px;
$medium: 768px;
$large-start: 992px;

@import 'mixins';
@import 'super';
@import 'feature';
@import 'feature-fixed';
@import 'fan';
@import 'reveal';
@import 'btn';
@import 'titlebar';
@import 'footer';

*, *::after, *::before {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 100%;
  line-height: 1;
  text-size-adjust: 100%;
}

body {
  height: 100%;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $dark;
  -webkit-font-smoothing: subpixel-antialiased;
}

h1 {
  font-size: 64px;  
  line-height: 77px;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  cursor: pointer; 
  color: $teal; 
  transition: .6s color;

  .footer & {
    color: #2a2a2a;
  }

  &:hover {
    color: #2a2a2a;
  }
}

p, li {
  @extend %p-base;
}

strong {
  font-weight: 700;
}

.relative {
  position: relative;
  top: 50px;
}

.stuck {
  position: fixed;
  top: 82px;
  z-index: 10;

  @include mq(m) {
    top: 68px;
  }
}

.stuck--no-offset {

}

.container-fluid {
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  @include mq(s) {
    padding-right: 2rem;
    padding-left: 2rem;
  }

  @include mq(l) {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
}

.wrapped {
  overflow: hidden;
}

.wrap {
  margin: auto;
  max-width: 71.25rem;
}

.container {
  margin: 0 auto;
  position: relative;
  max-width: 1140px;
}

.module {
  margin-bottom: 16rem;
  padding-top: 2rem;
  padding-bottom: 2rem;

  @include mq(l) {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.main {

  @include mq(m) {
    height: 100%;
  }
  /*overflow: hidden;*/
}

.main-body {
  height: 100%;
  background-color: $white;
}

.hidden {
  visibility: hidden;
  
}

.scroll-down {
  /*position: absolute;*/
  position: relative;
  left: 0;
  right: 0;
  /*bottom: 5%;*/
  bottom: 20px;
  width: 38px;
  height: 44px;
  display: block;
  margin: 0 auto;
  background: url('images/arrow-bottom.svg') no-repeat 50% 50%;
  
  @include mq(m) {
    bottom: 0;
  }
}

.image-replace {
  /*display: inline-block;*/
  overflow: hidden;
  text-indent: -9999px;
  white-space: nowrap;
}

.rel {
  position: relative;
}

.news {
  display: flex;  
  flex-direction: column;
}

.corner {

  @include mq(l) {

    &--br {
      position: absolute;
      right: 5%;
      bottom: 5%;
    }
  }
}
